
*
{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.feed-navbar
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.feed-navbar h1
{
    color:rgb(227, 68, 11);
    font-size: 30px;
}
.feed-navbar button
{
    border:none;
    border-radius: 8px;
    font-size: 30px;
    color:rgb(227, 68, 11);
    background-color: transparent;
}
.feed-header .offcanvas
{
    width:220px;
}
.feed-header ul li
{
    list-style:none;
    margin: 10px 0px;
    text-align: center;
}
.feed-header li a
{
    text-decoration: none;
    color:rgb(227, 68, 11);
    transition:0.5s;
}
.feed-header li a:hover
{
    color:rgb(144, 38, 0);
    text-decoration: underline;
}
.navbar-brand a
{
    font-size: 22px;
    color:rgb(227, 68, 11);
    text-decoration: none !important;
    font-weight: bold;
}
.text-start
{
    position: absolute;
    top:10%;
    left:1%
}

/*Feeds Application Registration & Login*/
.feed-registration,
.feed-login
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .form-floating
{
    width:250px;
    padding: 0px !important;
    margin-bottom: 5px;
    font-size: 12px;
}
.form-control,
.form-control:focus
{
    outline:none;
    box-shadow: none;
    font: size 12px; 
}
.form-floating>label,.form-check>label
{
    font-size: 12px;
}
.pwd-visibility
{
    position:relative;
}
#icon1
{
    position:absolute;
    top:40%;
    right:5%;
    color:gray;
    cursor: pointer;
}
.feed-registration button,
.feed-login button,
.feed-section button,
.view-post-section button
{
    background-color:gray;
    color:white;
    border:none;
    font-size: 12px;
    width:100px;
    height:30px;
    border-radius: 12px;
    transition: 1s;
}
.feed-registration button:hover,
.feed-login button:hover,
.feed-section button:hover,
.view-section-button:hover
{
   
    color:black;
}
.regErr
{
    font-size: 10px;
    color:red;
    height: 12px;
}
.reg-now
{
    font-size: 12px;
}
.reg-now a
{
    font-size: 14px;
    font-style: italic;
    margin-left: 8px;
}
/*Feed Section*/
#feed-post,#feed-post1
{
    height:200px;
    width:50%;
}
.feed-section 
{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-image: url("../public/Completed-pana.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-color: wheat;
}
.feed-section .row1
{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:100%;
}
.view-post-section,my-post-list,other-post-list
{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.view-post-section ul
{
    list-style: decimal;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.view-post-section li
{
    width:100%;
    border-radius: 8px;
    border:1px solid black;
    margin: 8px;
}
.updateModal .modal-footer
{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.feed-edit
{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}