
*
{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body
{
    background-color: wheat;
}
.feed-navbar
{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.feed-navbar h1
{
    color:#f4715a;
    font-size: 30px;
}
.feed-navbar button
{
    border:none;
    border-radius: 8px;
    font-size: 30px;
    color:black;
    background-color: transparent;
    position: absolute;
    top:20%;
    left:1%
}
.feed-header .offcanvas
{
    width:240px;
}
.feed-header ul li
{
    list-style:none;
    margin: 10px 0px;
    text-align: left;
    margin-left: 16px;
}
.feed-header li a
{
    text-decoration: none;
    color:#f4715a;
    transition:0.5s;
    font-size: 14px;
}
.feed-header li a:hover
{
    color:rgb(241, 76, 15);
    text-decoration: underline;
}
.navbar-brand a
{
    font-size: 22px;
    color:#f4715a;
    text-decoration: none !important;
    font-weight: bold;
}

/*Feeds Application Registration & Login*/
.feed-registration,
.feed-login
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.feed-login
{
    background: url("../public/Key-pana.png");
    background-position-x: 15%;
    background-position-y:30% ;
    background-repeat: no-repeat;
    background-size: 30%;
    height: 100vh;
    background-color: white;
}
.feed-registration
{
    background: url("../public/Online\ Review-pana.png");
    background-position-x:80%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    background-color: white;
}
 .form-floating
{
    width:250px;
    padding: 0px !important;
    margin-bottom: 5px;
    font-size: 12px;
}
.form-control,
.form-control:focus
{
    outline:none;
    box-shadow: none;
    font: size 12px; 
}
.form-floating>label,.form-check>label
{
    font-size: 12px;
}
.pwd-visibility
{
    position:relative;
}
#icon1
{
    position:absolute;
    top:40%;
    right:5%;
    color:gray;
    cursor: pointer;
}
.feed-registration button,
.feed-login button,
.feed-section button,
.view-post-section button,
.updateModal button
{
    background-color:#f4715a;
    color:white;
    border:none;
    font-size: 12px;
    width:100px;
    height:30px;
    border-radius: 12px;
    transition: 1s;
}
.feed-registration button:hover,
.feed-login button:hover,
.feed-section button:hover,
.view-section-button:hover
{
    color:black;
}
.regErr
{
    font-size: 10px;
    color:red;
    height: 12px;
}
.reg-now
{
    font-size: 12px;
}
.reg-now a
{
    font-size: 14px;
    font-style: italic;
    margin-left: 8px;
}
/*Feed Section*/
#feed-post,#feed-post1
{
    height:200px;
    width:65%;
}
#feed-post
{
    height:350px ;
}
.feed-section 
{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-image: url("../public/Completed-pana.svg");
    background-repeat: no-repeat;
    background-position-x: -25%;
}
.feed-section .row1
{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:100%;
}
.view-post-section,my-post-list,other-post-list
{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.view-post-section ul
{
    width:80%;
    list-style: none;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.view-post-section li
{
    width:100%;
    border-radius: 8px;
    border:1px solid black;
    margin: 8px;
}
.updateModal .modal-header
{
    background-color:#f4715a;
    color:white;
}
.updateModal .modal-footer
{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-top: none;
}
.updateModal i
{
    color:white;
    font-size: 30px;
}
.feed-edit
{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
.my-post-list button
{
    width:20px;
    height:20px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid rgb(56, 55, 55);
    font-size: 12px;
}
.feed-edit
{
    position: absolute;
    right:1%;
    bottom:2%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: center;
    justify-content: center;
    margin: 0px!important;
}
.feed-li
{
    position: relative;
    background-color: white;
}
.view-post-section
{
    background-image: url("../public/Processing-pana.svg");
    background-repeat: no-repeat;
    background-position-x: 250%;
    
}
.view-post-section h3
{
    color:rgb(56, 55, 55);
    font-size: 24px;
    text-align: center;
}
.view-post-section ul
{
    list-style:none;
}
.view-post-section li
{
    position: relative;
}
.my-post-list p i
{
    color:gray;
    font-size: 12px;
}
.my-post-list p
{
    font-size: 12px;
}
.feed-pagination ul
{
    list-style: none;
    display: flex;
    flex-direction: row!important;
    align-items: center;
    justify-content: center;
}
.feed-pagination li
{
    display: flex;
    flex-direction: row;
    border: none;
    width: 30px;
}
.my-post-list li,.other-post-list li
{
    background-color: white;
}
.feed-section a
{
    font-style:italic ;
    font-size: 14px;
}
.view-link
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;

}